@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300&display=swap');
* {
    font-family: "IBM Plex Sans", sans-serif;
  }
  #landing {
    width:100%;
    height:100vh;
    background-color:#fafafa;
    }
  #nav {
    width:100%;
    height:70px;
  }
  .nav_logo {
    float:left;
    padding:20px 0px 0px 20px;
  }
  .nav_logo > span {
    color:white;
    font-size:35px;
  }
  #main {
    width:100%;
    height:calc(100vh - 70px);
  }
  .main_wrap {
    padding-top:7%;
    max-width:900px;
  }
  .main_text {
    color:#333;
    text-align:left;
  }
  .main_text > h1 {
    font-size:4em;
  }
  .main_text > h3 {
    font-size:2em;
  }
  .main_form {
    padding-top:30px;
    height:59px;
  }
  .url {
    width:751.31px;
    float:left;
    border:2px solid #e0e0e0;
    border-radius:3px;
    margin-top:-1px;
    box-shadow: 0 8px 16px -8px rgba(224, 224, 224, .72);
    background-color:white;
    padding:19px 20px 19px 20px;
    outline:none;
    vertical-align:middle;
    -webkit-appearance: none;
  }
  .submit {
    border:none;
    border-radius:3px;
    background-color:#3e1bdb;
    float:left;
    margin-left:20px;
    color:white;
    height:59px;
    padding:0px 30px 0px 30px;
    font-size:20px;
    vertical-align:middle;
    -webkit-appearance: none;
    box-shadow: 0 8px 16px -8px rgba(62,27,219,.72);
  }
  #about {
    width:100%;
    padding:20px 0px 20px 0px;
  }
  .about_wrap {
    max-width:1080px;
    padding-top:20px;
    text-align:left;
  }
  .what_is > h3 {
    font-size:35px;
    color:#303030;
  }
  .what_is > p {
    font-size:20px;
    color:#303030;
  }
  